<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvlp.stu.dynamic.mapper.EmployeeMapper">
    <!--    where 标签可以根据条件来确定是否加where 关键字  并且会取消多余的and关键字  注意and关键字只能写到前面-->
    <select id="selectByCondition" resultType="Employee">
        select *
        from p_emp
        <where>
            <if test="empId!=null">
                emp_id = #{empId}
            </if>
            <if test="empName!=null">
                and emp_name = #{empName}
            </if>
            <if test="empGender!=null">
                and emp_gender = #{empGender}
            </if>
            <if test="empSalary!=null">
                and emp_salary = #{empSalary}
            </if>
        </where>
    </select>
    <!--set 里面为了杜绝一个set 值都没有的情况 把empid加入set-->
    <update id="updateByCondition">
        update p_emp
        <set>
            <if test="empName!=null">
                emp_name = #{empName} ,
            </if>
            <if test="empGender!=null">
                emp_gender = #{empGender},
            </if>
            <if test="empSalary!=null">
                emp_salary = #{empSalary},
            </if>
            <if test="empId!=null">
                emp_id = #{empId}
            </if>
        </set>
        where emp_id = #{empId}
    </update>
</mapper>