<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    init 针对 单独的bean-->
    <bean id="user" class="com.lvlp.stu.xml.pojo.User" init-method="init" destroy-method="destroy">
    </bean>
    <!--   MyBeanPostProcessor 后置处理器 针对所有的bean -->
    <bean id="myBeanPostProcessor" class="com.lvlp.stu.xml.processor.MyBeanPostProcessor"></bean>
</beans>
