<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="h1" class="com.lvlp.stu.xml.pojo.HappyComponent"></bean>
    <!-- id 不能重复 重复后运行报错   -->
    <!--    <bean id="h1" class="com.lvlp.stu.xml.pojo.HappyComponent"></bean>-->
            <bean id="h2" class="com.lvlp.stu.xml.pojo.HappyComponent"></bean>
</beans>