<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!--        开始驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="True"/>
    </settings>
    <typeAliases>
        <!--        扫描包-->
        <package name="com.lvlp.stu.reverse.pojo"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <environments default="MySQL">
        <environment id="MySQL">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/skyhotel?allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>

            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="EmployeeMapper.xml"/>-->
        <package name="com.lvlp.stu.reverse.mapper"/>
    </mappers>
</configuration>
