<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvlp.stu.reverse.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.lvlp.stu.reverse.pojo.Student">
            <id property="sId" column="s_id" jdbcType="INTEGER"/>
            <result property="sName" column="s_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        s_id,s_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_student
        where  s_id = #{sId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_student
        where  s_id = #{sId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="s_id" keyProperty="sId" parameterType="com.lvlp.stu.reverse.pojo.Student" useGeneratedKeys="true">
        insert into t_student
        ( s_id,s_name)
        values (#{sId,jdbcType=INTEGER},#{sName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="s_id" keyProperty="sId" parameterType="com.lvlp.stu.reverse.pojo.Student" useGeneratedKeys="true">
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="sId != null">s_id,</if>
                <if test="sName != null">s_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="sId != null">#{sId,jdbcType=INTEGER},</if>
                <if test="sName != null">#{sName,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lvlp.stu.reverse.pojo.Student">
        update t_student
        <set>
                <if test="sName != null">
                    s_name = #{sName,jdbcType=VARCHAR},
                </if>
        </set>
        where   s_id = #{sId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lvlp.stu.reverse.pojo.Student">
        update t_student
        set 
            s_name =  #{sName,jdbcType=VARCHAR}
        where   s_id = #{sId,jdbcType=INTEGER} 
    </update>
</mapper>
