<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--组件注解扫码-->
    <context:component-scan base-package="com.lvlp.stu.xml.tx"/>
    <!--导入文件-->
    <!--加载文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--创建DruidDataSource对象-->
    <bean id="dataSourse" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--创建 JdbcTemplate 对象-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSourse"/>
    </bean>
    <!--创建 DataSourceTransactionManager 对象-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourse"/>
    </bean>
    <!--声明式事务-->
    <!--    创建事务的增强-->
    <tx:advice id="tx" transaction-manager="transactionManager">
        <tx:attributes>
            <!--指定事务的方法名-->
            <tx:method name="get*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>

            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!--    利用aop，将事务的增强切入到指定的位置-->
    <aop:config>
        <aop:pointcut id="pc" expression="execution(**..*.*(..))"/>
        <aop:advisor advice-ref="tx" pointcut-ref="pc"/>
    </aop:config>
</beans>